{{!< layout}}
<header class="aui-page-header">
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main intro-header">
      <b>Dialog</b>
    </div>
  </div>
</header>

<div class="aui-page-panel main-panel">
  <div class="aui-page-panel-inner">
    <section class="aui-page-panel-item">
      <div class="aui-group">
        <div class="aui-item">
          <p>
            <a id="dialogCheckButton">Click Me -  Check what is not working</a>

            <p id="token">waiting for click.....</p>

            <p style="padding-top:63px;font-szie:0.8em">You have to open issue view from backlog and issue viwe must be on right hand side</p>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
