{{!< layout}}
<div class="aui-page-panel main-panel">
  <div class="aui-page-panel-inner">
    <section class="aui-page-panel-item">
      <div class="aui-group">
        <div class="aui-item">
            <p>IssueView opened on right handside when clicking on issue in Backlog view</p>
          <p>
            <a id="openDialogButton"> Click to Open Dialog</a>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
